@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: roboto;
    margin: auto;
}

.top-container {
    background-color: #1F2937;
    color: #F3F4F6;
    display: flex;
    flex-direction: column;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
}

#header-links {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}