@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Affects the entire body */
body {
    font-family: roboto;
    margin: auto;
}

/* Styles that for the main title 
and header content / top div */
.top-container {
    background-color: #B4CEFF;
    color: #fff4e2;
    display: flex;
    gap:6em;
    flex-direction: column;
    padding: 5px 100px 100px 100px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-logo {
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style-type: none;
}

#header-links {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

a {
    text-decoration: none;
    color: inherit;
}

.title-container {
    display: flex;
}

#wide-coffee {
    width: 60%;
    height: auto;
}

/* Styles for the info boxes / second to bottom div*/
#rand-info {
    text-align: center;
}

#info-box-container {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin: auto 150px;
}

.info-box {
    width: 120px;
    height: 120px;
    border: #5782d1 solid;
    border-radius: 10%;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-subtext {
    text-align: center;
}

/* Styles for the quote div / third to bottom */
.quote-container {
    background-color: #ad9ba1;
    color: #f3faf8;
    padding: 100px 100px 20px 100px;
    margin: 50px 0px;
}

#quote {
    text-align: center;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

#quote-source {
    text-align: end;
}

/* call to action / forth to bottom div */
.call-container{
    background-color: #446ebd;
    color: #f8f5f1;
    margin: 10px 150px 50px 150px;
}